{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <h1>Create new Note</h1>

    {{ include('no/_form.html.twig') }}

    <a href="{{ path('app_no_index') }}">back to list</a>
{% endblock %}
